//include third-party fonts

@mixin font-face($font-name, $file-name, $font-weight, $font-style) {
  @font-face {
    font-family: quote($font-name);
    src: url("../fonts/"+ $file-name + ".woff2") format("woff2"),
    url("../fonts/"+ $file-name + ".woff") format("woff");
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@include font-face(Montserrat, Montserrat-Bold, bold, normal);
@include font-face(Montserrat, Montserrat-Light, 300, normal);
@include font-face(Montserrat, Montserrat-Medium, 500, normal);
@include font-face(Montserrat, Montserrat-Regular, normal, normal);
@include font-face(Montserrat, Montserrat-SemiBold, 600, normal);

@include font-face(Oswald, Oswald-Regular, 400, normal);
@include font-face(Poppins, Poppins-Regular, 400, normal);
