<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a href="#" class="footer__logo">
                {{ icons.icon('nuhu-logo-black') }}
            </a>
            <div class="footer__nav">
                <ul class="footer__nav-ul">
                    <li class="footer__nav-ul-title"><a href="#">About</a></li>
                    <li class="footer__nav-ul-item"><a href="#">About Us</a></li>
                    <li class="footer__nav-ul-item"><a href="#">Contact Us</a></li>
                </ul>
                <ul class="footer__nav-ul">
                    <li class="footer__nav-ul-title"><a href="#">Help</a></li>
                    <li class="footer__nav-ul-item"><a href="#">Shipping Policy</a></li>
                    <li class="footer__nav-ul-item"><a href="#">Return & Refund Policy</a></li>
                    <li class="footer__nav-ul-item"><a href="#">Privacy Policy</a></li>
                    <li class="footer__nav-ul-item"><a href="#">Terms of Service</a></li>
                </ul>
                <ul class="footer__nav-ul">
                    <li class="footer__nav-ul-title"><a href="#">Follow us</a></li>
                    <li class="footer__nav-ul-social">
                        <a href="#">
                            <svg class="icon icon_item--facebook">
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg class="icon icon_item--instagram">
                                <use xlink:href="img/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__inner--mobile">
                <p class="footer__copyright">Copyright © Hue Division. All rights reserved.</p>
                <p class="footer__cards">
                    <img src="img/pay.png" alt="img">
                    <img src="img/pay2.png" alt="img">
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="background-black" id="background-black"></div>
