<style>
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        width: 100%;
        height: 100%;
        height: calc(var(--vh, 1vh) * 100);
        background-color: #fff
    }

    .loader.is-disabled {
        pointer-events: none;
    }

    .is-loaded .loader__dots {
        opacity: 1 !important
    }

    .loader__wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }

    .loader__dots, .loader__logo {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto
    }

    .loader__dots {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 89.5834vw;
        display: grid;
        grid-template-columns:repeat(9, 1fr);
        transform: translate(-50%, -50%);
        transition: opacity 500ms;
    }

    @media (max-width: 1023px) {
        .loader__dots {
            width: 70vw
        }
    }

    @media (max-width: 767px) {
        .loader__dots {
            width: 50.93vw
        }
    }

    .loader .dot {
        align-self: center;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        width: 6.3882vw;
        height: 6.3882vw;
        border-radius: 50%;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: opacity 300ms;
        -o-transition: opacity 300ms;
        transition: opacity 300ms
    }

    @media (max-width: 1023px) {
        .loader .dot {
            width: 5.4vw;
            height: 5.4vw
        }
    }

    @media (max-width: 767px) {
        .loader .dot {
            width: 3.91vw;
            height: 3.91vw
        }
    }

    .loader__gradient {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 6.3882vw;
        height: 6.3882vw;
        border-radius: 50%;
        -webkit-transform-origin: center;
        transform-origin: center;
        transform: translate(-50%, -50%);
        background: conic-gradient(from 180deg at 50% 50%, #fce147 -5.31deg, #0777c3 29.54deg, #76e0fb 102.6deg, #4fc684 151.7deg, #e8a8ff 174.93deg, #ff94e1 208.62deg, #fd6262 261.11deg, #ff7f42 322.15deg, #fce147 354.69deg, #0777c3 389.54deg), -webkit-gradient(linear, left top, left bottom, from(#ff7f42), to(rgba(255, 127, 66, 0)));
        background: conic-gradient(from 180deg at 50% 50%, #fce147 -5.31deg, #0777c3 29.54deg, #76e0fb 102.6deg, #4fc684 151.7deg, #e8a8ff 174.93deg, #ff94e1 208.62deg, #fd6262 261.11deg, #ff7f42 322.15deg, #fce147 354.69deg, #0777c3 389.54deg), -o-linear-gradient(top, #ff7f42 0%, rgba(255, 127, 66, 0) 100%);
        background: conic-gradient(from 180deg at 50% 50%, #fce147 -5.31deg, #0777c3 29.54deg, #76e0fb 102.6deg, #4fc684 151.7deg, #e8a8ff 174.93deg, #ff94e1 208.62deg, #fd6262 261.11deg, #ff7f42 322.15deg, #fce147 354.69deg, #0777c3 389.54deg), linear-gradient(180deg, #ff7f42 0%, rgba(255, 127, 66, 0) 100%);
        background-position: center;
        background-size: 150% 150%;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
    }

    .loader__gradient.is-visible {
        opacity: 1 !important;
    }

    @media (max-width: 1023px) {
        .loader__gradient {
            width: 5.4vw;
            height: 5.4vw
        }
    }

    @media (max-width: 767px) {
        .loader__gradient {
            width: 3.91vw;
            height: 3.91vw
        }
    }

    .loader .dot__color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%
    }

    .loader .dot__color {
        z-index: 1
    }

    .loader__logo {
        z-index: 3;
        width: 28.334vw;
        opacity: 0
    }

    @media (max-width: 1023px) {
        .loader__logo {
            width: 46.41vw
        }
    }

    @media (max-width: 767px) {
        .loader__logo {
            width: 50.89vw
        }
    }

    .loader__logo img {
        width: 100%;
        height: auto
    }
</style>

<div class="loader js-loader">
    <div class="loader__wrapper">
        <div class="loader__dots js-dots" style="opacity: 0;">
            {% for item in data.loaderDotsColors %}
                <div class="dot js-dot">
                    <div class="dot__color" style="background-color: {{ item }}"></div>
                    <div class="dot__gradient"></div>
                </div>
            {% endfor %}
        </div>
        <div class="loader__gradient js-gradient" style="opacity: 0;"></div>
        <div class="loader__logo js-logo">
            <img src="/img/nuhu-logo-white.svg" alt="hue division">
        </div>
    </div>
</div>
