<ul class="pagination">
    <button type="button" role="button" aria-label="prev" class="pagination__arrow">
        <svg class="icon icon_arrow">
            <use xlink:href="img/sprite.svg#caret-left"></use>
        </svg>
    </button>
    <li><span>01</span></li>
    <li><a href="#">02</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">08</a></li>
    <button type="button" role="button" aria-label="next" class="pagination__arrow">
        <svg class="icon icon_arrow">
            <use xlink:href="img/sprite.svg#caret-right"></use>
        </svg>
    </button>
</ul>
