<div class="subscribe">
    <div class="container">
        <div class="subscribe__inner">
            <div class="subscribe__description">
                <p class="subscribe__title">Keep yourself in the loop!</p>
                <p class="subscribe__txt">Get the latest news and much more delivered straight to your inbox. Sign up
                    now for <b>10% off your next order!</b></p>
            </div>
            <div class="subscribe__form">
                <form class="form-valid form-theme">
                    <div class="subscribe__block form-theme__field">
                        <div class="form-theme__item form-theme__field form-theme__item-forgot">
                            <div class="field-wrap">
                                <label for="email">Your Email</label>
                                <input id="email" type="email" data-input="email" class="input-required">
                            </div>
                            <span class="txt-error">It looks like you haven’t entered a valid email address - please try again</span>
                        </div>
                        <button class="subscribe__block-button" type="submit">GO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
