<section class="why-us">
    <div class="why-us__bg">
{#        Image for bg#}
{#         <img src="/img/why-bg.jpg" alt="img">#}
{#        Video for bg#}
{#        <video class="plyr__video" playsinline loop muted autoplay>#}
{#            <source src="video/homepage/hero.mp4" type="video/mp4"/>#}
{#            <source src="video/homepage/hero.webm" type="video/webm"/>#}
{#        </video>#}
        <div class="plyr__video-embed js-player js-why-us-player" data-plyr-provider="vimeo"
             data-plyr-embed-id="https://vimeo.com/578455099"></div>
    </div>
    <a class="why-us__link" href="/sustainability.html"></a>
    <div class="container">
        <div class="why-us__wrapper">
            <h2 class="why-us__title title title--m title--light">
                Why us?
            </h2>
            <div class="why-us__inner">
                <div class="why-us__item">
                    <img src="img/why/cotton.svg" alt="img">
                    <p>Organic Cotton</p>
                </div>
                <div class="why-us__item">
                    <img src="img/why/dyes.svg" alt="img">
                    <p>Ecological Dyes</p>
                </div>
                <div class="why-us__item">
                    <img src="img/why/fabries.svg" alt="img">
                    <p>Recycled Fabrics</p>
                </div>
                <div class="why-us__item">
                    <img src="img/why/busines.svg" alt="img">
                    <p>Sustainable Business</p>
                </div>
                <div class="why-us__item">
                    <img src="img/why/packaging.svg" alt="img">
                    <p>Eco-friendly Packaging</p>
                </div>
                <div class="why-us__item">
                    <img src="img/why/manufacturing.svg" alt="img">
                    <p>Responsible Manufacturing</p>
                </div>
            </div>
        </div>
    </div>
</section>
