---
title: Forgot Password
description: Template
pageName: forgotPassPage
---

{% extends 'layouts/_page-default.twig' %}

{% block content %}
    <main>
        {% include "pages/login/_forgot-pass.twig" %}
    </main>
{% endblock %}
