---
title: Legal
description: Template
pageName: legalPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
    <main>
        {% include "pages/legal/_legal.twig" %}
    </main>
{% endblock %}
