---
title: Search Result Empty
description: searchResult
pageName: searchResultPage
---

{% extends 'layouts/_page-default.twig' %}

{% block content %}
    <main>
        {% include "pages/search-res/_search-res-empty.twig" %}
    </main>
{% endblock %}
