---
title: Search Result
description: searchResult
pageName: searchResultPage
---

{% extends 'layouts/_page-default.twig' %}

{% block content %}
    <main>
        {% include "pages/search-res/_search-res.twig" %}
        {% include "pages/plp/_catalog-modal.twig" %}
    </main>
{% endblock %}
