---
title: NY Colour Map
description: Template
pageName: colorMapPage
---

{% import "data/_data-colour-map.twig" as dataMap %}

{% import "blocks/_scroll-to-map.twig" as scroll %}
{% extends "layouts/_page-default.twig" %}

{% block otherScripts %}
{#     todo change API KEY #}
    <script src="/js/map.js" async></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6HaqS72giLwUCo--t3URT_EtOPzum0lY&libraries=&v=weekly"
            async
    ></script>
{% endblock %}

{% block content %}
    <main>
        {% include "pages/colour-map/_hero.twig" %}
        {% include "pages/colour-map/_inspiration.twig" %}
        {% include "pages/colour-map/_map.twig" %}
    </main>
{% endblock %}
