---
title: Shipping Cart
description: Template
pageName: shippingCartPage
---

{% extends 'layouts/_page-default.twig' %}

{% block content %}
    <main>
        {% include "pages/shippingCart/_main-cart.twig" %}
    </main>
{% endblock %}
