<div id="modal-models" class="pdp__modal js-modal">
    <div class="pdp__modal__title">
        <p class="pdp__modal__title--inner">Model’s measurment </p>
        <a href="javascript:void(0)" class="pdp__modal--close js-close">
            {{ icons.icon('close') }}
        </a>
    </div>
    <div class="pdp__modal__info">
        <div class="pdp__modal__info--item">
            <p>Model 1</p>
            <ul>
                <li>Size <span>L</span></li>
                <li>Height <span>189</span></li>
                <li>Bust <span>80</span></li>
                <li>Waist <span>92</span></li>
            </ul>
        </div>
        <div class="pdp__modal__info--item">
            <p>Model 2</p>
            <ul>
                <li>Size <span>L</span></li>
                <li>Height <span>189</span></li>
                <li>Bust <span>80</span></li>
                <li>Waist <span>92</span></li>
            </ul>
        </div>
        <div class="pdp__modal__info--item">
            <p>Model 3</p>
            <ul>
                <li>Size <span>L</span></li>
                <li>Height <span>189</span></li>
                <li>Bust <span>80</span></li>
                <li>Waist <span>92</span></li>
            </ul>
        </div>
    </div>
</div>
