<div class="pdp__tabs js-dropdown-wrap" id="pdp__tabs" style="color: #0777C3">
    <div class="container">
        <div class="pdp__inner-tabs">
            <ul class="pdp__tab-list">
                <li data-dropdown-container>
                    <button class="pdp__tab--title link-beunderline link-beunderline--s" data-dropdown-button data-tab="details"
                       data-color="#0777C3">Details</button>

                    <div class="pdp__tab--info" data-dropdown>
                        <div data-dropdown-inner>
                            <p>Shipping is free on all orders over $200.
                            <p>
                                Shipping outside the U.S. is an additional fee. Rates are calculated by our carriers, USPS and
                                UPS, and you may select from the delivery speed options presented at checkout.</p>
                            <p>Returns within the U.S. are free. See more details about how to make a return on in our Return
                                Policy.</p>
                            <p> Buyer is responsible for return shipping costs plus insurance for all orders shipped outside the
                                U.S.</p>
                            <p> Upon request, we can provide you with a return shipping label and deduct the cost of shipping
                                from your order refund.</p>
                            <p> Please allow 30 days to process international returns.</p>
                            <p> Shipping costs are non-refundable for all domestic and international orders.</p>
                        </div>
                    </div>
                </li>
                <li data-dropdown-container>
                    <button class="pdp__tab--title link-beunderline link-beunderline--s" data-dropdown-button data-tab="sustainability"
                       data-color="#76E1FB">Sustainability</button>

                    <div class="pdp__tab--info" data-dropdown>
                        <div data-dropdown-inner>
                            <p> This high quality unisex hoodie is made of an organic and recycled cotton mix. The Coney Island
                                Aqua color is created using Environmentally Friendly Dyes.</p>
                            <p>The organic and recycled cotton fabric is soft, thin, and lightweight, ideal for maximum comfort.
                                The material is a terry loopback fabric with a light and breathable feel. Double-lined hood and
                                kangaroo pocket on the front.</p>
                            <div class="pdp__tab--info-img">
                                <img src="img/pdp/pdp-organic.png" alt="img">
                                <img src="img/pdp/pdp-organic.png" alt="img">
                            </div>
                        </div>

                    </div>
                </li>
                <li data-dropdown-container>
                    <button class="pdp__tab--title link-beunderline link-beunderline--s" data-dropdown-button data-tab="delivery" data-color="#4FC685">Delivery
                        & Returns</button>

                    <div class="pdp__tab--info" data-dropdown>
                        <div data-dropdown-inner>
                            <p> This high quality unisex hoodie is made of an organic and recycled cotton mix. The Coney Island
                                Aqua color is created using Environmentally Friendly Dyes.</p>
                            <p>The organic and recycled cotton fabric is soft, thin, and lightweight, ideal for maximum comfort.
                                The material is a terry loopback fabric with a light and breathable feel. Double-lined hood and
                                kangaroo pocket on the front.</p>
                            <div class="pdp__tab--info-img">
                                <img src="img/pdp/pdp-organic.png" alt="img">
                                <img src="img/pdp/pdp-organic.png" alt="img">
                            </div>
                        </div>
                    </div>
                </li>
                <li data-dropdown-container>
                    <button class="pdp__tab--title link-beunderline link-beunderline--s" data-dropdown-button data-tab="care" data-color="#E8A8FF">Care</button>

                    <div class="pdp__tab--info" data-dropdown>
                        <div data-dropdown-inner>
                            <p>Shipping is free on all orders over $200.
                            <p>
                                Shipping outside the U.S. is an additional fee. Rates are calculated by our carriers, USPS and
                                UPS, and you may select from the delivery speed options presented at checkout.</p>
                            <p>Returns within the U.S. are free. See more details about how to make a return on in our Return
                                Policy.</p>
                            <p> Buyer is responsible for return shipping costs plus insurance for all orders shipped outside the
                                U.S.</p>
                            <p> Upon request, we can provide you with a return shipping label and deduct the cost of shipping
                                from your order refund.</p>
                            <p> Please allow 30 days to process international returns.</p>
                            <p> Shipping costs are non-refundable for all domestic and international orders.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
