<section class="about-section has-text-right inspiration">
    <div class="container container--m">
        <div class="about-section__wrapper">
            <div class="about-section__media">
                <img class="img img--large" src="img/color-map/inspiration.jpg" alt="inspiration">
                <img class="img img--small" src="img/color-map/inspiration-small.jpg" alt="inspiration">
            </div>
            <div class="about-section__content">
                {{ titles.title("inspiration", "about-section", "xs", "dark", "h2") }}
                <div class="about-section__text text-wrap">
                    <p>
                        We have imbued our collection with not only its vivid colors, but the spirit of New York. We want it so wearing a piece of Hue Division is endowing oneself with the lifeblood of the city we love and cherish.
                    </p>
                    <p>
                        We at Hue Division have mapped out all of the colors of our first collection so that anyone can receive the inspiration we have from the beauty and spirit of New York City.
                    </p>
                </div>
            </div>
            {{ scroll.scrollToMap('gray') }}
        </div>
    </div>
</section>
