<div class="account__head account-head">
    <div class="account-head__wrapper">
        <div class="account-head__content">
            {{ titles.title("Hello <span>Barbara</span>", "account-head", "xs", "dark", "h1") }}
            {{ lights.linkLight('barbara@gmail.com', 'xs', '', 'mailto:barbara@gmail.com') }}
        </div>
        <div class="account-head__link">
            {{ underlines.linkUnderline('Log out', 'xs') }}
        </div>
    </div>
</div>
