<div class="account__order-history order-history">
    <div class="order-history__content">
        <div class="account__subtitle">
            Order History
        </div>
        {# IF we haven't orders #}
        <div class="order-history__empty orders-empty">
            <p class="order-history__text orders-empty__text">
                You haven't placed any orders yet.
            </p>
            <div class="orders-empty__button">
                <a href="/plp.html" class="button button--black">
                    <span data-splitting>
                        shop now
                    </span>
                    <span data-splitting>
                        shop now
                    </span>
                </a>
            </div>
        </div>
        {# ENDIF we haven't orders #}
    </div>
</div>
