.colors {
  &--horizontal {
    .radio {
      margin: 0 17.09px;

      @include tablet {
        margin: 0 7.09px;
      }

      @include mobile {
        margin: 0 5.09px;
      }

      &:nth-child(1n+6) {
        @include mobile {
          display: none;
        }
      }
    }
  }

  &--vertical {
    display: flex;
    flex-direction: column-reverse;

    .radio {
      margin: 6.5px 0;

      @include tablet {
        margin: 3.5px 0;
      }

      @include mobile {
        margin: 2.5px 0;
      }
    }
  }

  .radio {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &__input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      &.is-checked ~ .icon,
      &:checked ~ .icon {
        width: 16px;
        height: 16px;
        border-width: 3px;
      }
    }

    &__icon {
      margin: auto;
      display: block;
      width: 13px;
      height: 13px;
      border: 1px solid $c-white;
      border-radius: 50%;
    }
  }
}
