.header {
  &__search {
    position: fixed;
    transform: translate(0, -200%);
    left: 0;
    top: 0;
    width: 100%;
    background-color: $c-blue-search;
    padding: 40px 0;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.2));

    .is-loaded & {
      transition: 500ms;
    }

    &-inner {
      position: relative;
    }

    &-block {
      position: relative;
      max-width: 630px;
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid $c-white;

      @include tablet{
        max-width: 520px;
      }

      @include mobile{
        max-width: calc(100% - 68px);
        margin: 0;
      }

      @media (max-width: 374px) {
        max-width: calc(100% - 40px);
      }
    }

    input.header__search-input {
      padding-right: 30px;
      padding-bottom: 5px;
      display: block;
      width: 100%;
      color: $c-white;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.02em;
      border: none;

      &::placeholder {
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.02em;
        color: $c-white;
        opacity: 0.6;
        @include mobile{
          font-size: 16px;
        }
      }

      @include mobile{
        padding-right: 50px;
        font-size: 16px;
        line-height: 32px;
      }
    }

    &-button {
      position: absolute;
      right: 5px;
      bottom: 5px;

      .icon{
        stroke: $c-white;
      }
    }

    &-close {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 14px;
      .icon{
        stroke: $c-white;
      }
    }


    &-result {
      //transition: 500ms;
      transform: translate(0, -200%);
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      background: $c-white;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
      padding: 50px 0 40px;

      .is-loaded & {
        transition: 500ms;
      }

      .search-result__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 5px;

        &-img {
          margin-right: 15px;

          img {
            width: 80px;
            min-width: 80px;
            max-width: 80px;
          }
        }

        &-name {
          font-weight: 300;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.02em;
          margin-bottom: 5px;
        }

        &-price {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.02em;
        }

        a {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 2;
        }
      }
    }
  }
}
