.submenu {
  $this: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
  background-color: $c-white;
  overflow-y: auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-200%);
  transition: none;

  @include mobile {
    position: relative;
    position: relative;
    z-index: 1;
    box-shadow: none;
    transform: translateY(0);
    height: 0;
    padding-left: 10px;
    max-height: initial;
  }

  &-lists{
    &__item {
      @include tablet-plus {
        margin-bottom: 30px;
      }
    }
  }

  .is-loaded & {
    transition: transform 1.1s ease-out;
    @include mobile{
      transition: height 700ms ease-out;
    }
  }

  &.is-visible {
    transform: translateY(0);
    height: auto;

    .animated {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
  }

  // for anim
  .animated {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 20%);
    transition: 300ms ease;
    transition-delay: 1100ms;

    @include mobile {
      transition-delay: unset;
    }
  }

  &__wrapper {
    padding: 130px 188px 55px;
    display: flex;
    width: 100%;
    height: 100%;

    @include tablet-plus {
      padding: 130px 25px 40px;
    }
    @include mobile {
      padding: 15px 0;
    }
  }

  // for first submenu nav
  &__lists {
    margin-right: 3.8vw;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-column-gap: 3.8vw;
    white-space: nowrap;


    @include tablet-plus {
      margin-right: 0;
    }

    @include mobile {
      display: block;
      width: 100%;
    }

    .submenu-list {
      &.hue {
        @include tablet-plus {
          grid-column: 3/4;
          grid-row: 1/3;
        }
      }

      &__name {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .03em;
        text-transform: uppercase;
      }
    }

    .submenu-nav {
      &__item {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        opacity: 1;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &__link {
        padding: 5px 0;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        @include anim();

        @include tablet-plus {
          text-transform: none;
        }

        &:hover {
          opacity: .4;
        }

        .icon_color {
          margin-right: 10px;
        }
      }
    }
  }

  &__media {
    flex: none;
    align-self: flex-end;
    display: flex;
    margin-right: -113px;
    margin-left: auto;
    @include tablet-plus {
      display: none;
    }

    #{$this}__img {
      position: relative;
      padding-bottom: 13.1945vw;
      width: 13.1945vw;
      height: 0;
      overflow: hidden;
      opacity: 0;
      @include anim($param: opacity);

      &.is-visible {
        opacity: 1;

        img {
          opacity: 1;
          transform: scale(1);
        }
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transform: scale(1.15);
        @include anim($param: transform);
      }
    }
  }

  // for second submenu nav
  &__list {
    margin: 0 auto;
    padding: 31px 0 17px;
    width: 100%;
    //width: fit-content;

    @include mobile{
      padding: 0;
    }

    .submenu-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 13.1945vw);
      grid-column-gap: 30px;
      justify-content: center;

      @include tablet-plus {
        grid-template-columns: repeat(4, 20.5vw);
      }

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
      }

      &.has-less {
        grid-template-columns: repeat(3, 13.1945vw);

        @include tablet-plus {
          grid-template-columns: repeat(3, 20.5vw);
        }

        @include mobile {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &__link {
        display: block;
        opacity: 1;
        @include anim();

        &:hover {
          opacity: .4;
        }
      }

      &__img {
        margin-bottom: 15.11px;
        position: relative;
        display: block;
        padding-bottom: 100%;
        width: 13.1945vw;
        height: 0;
        overflow: hidden;

        @include tablet-plus {
          width: 100%;
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__name {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: .02em;
        text-transform: capitalize;

        @include mobile {
          text-transform: none;
        }
      }
    }
  }
}
