.icon {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  fill: currentColor;
}

.icon_active-color {
  width: 25px;
  height: 24px;
}

.icon_arrow {
  width: 16px;
  height: 15px;
}

.icon_book {
  width: 18px;
  height: 15px;
}

.icon_bug {
  width: 20px;
  height: 22px;
}

.icon_burger {
  width: 20px;
  height: 19px;
}

.icon_caret-left {
  width: 8px;
  height: 13px;
}

.icon_caret-right {
  width: 8px;
  height: 13px;
}

.icon_check {
  width: 11px;
  height: 8px;
}

.icon_close {
  width: 14px;
  height: 14px;
}

.icon_cross {
  width: 20px;
  height: 20px;
}

.icon_eco {
  width: 137px;
  height: 124px;
}

.icon_expand {
  width: 25px;
  height: 27px;
}

.icon_facebook {
  width: 21px;
  height: 21px;
}

.icon_fav {
  width: 31px;
  height: 28px;
}

.icon_fb {
  width: 21px;
  height: 21px;
}

.icon_friendly-dyes {
  width: 96px;
  height: 101px;
}

.icon_heart {
  width: 26px;
  height: 22px;
}

.icon_instagram {
  width: 21px;
  height: 21px;
}

.icon_linkedin {
  width: 24px;
  height: 25px;
}

.icon_logo {
  width: 80px;
  height: 103px;
}

.icon_nuhu-logo-black {
  width: 246.5px;
  height: 300.4px;
}

.icon_nuhu-logo-white {
  width: 246.5px;
  height: 300.4px;
}

.icon_oeko {
  width: 324px;
  height: 128px;
}

.icon_organic-cotton {
  width: 120px;
  height: 97px;
}

.icon_pause {
  width: 13px;
  height: 17px;
}

.icon_personal {
  width: 19px;
  height: 21px;
}

.icon_plus {
  width: 8px;
  height: 7px;
}

.icon_recycled-cotton {
  width: 81px;
  height: 98px;
}

.icon_reusable-packaging {
  width: 109px;
  height: 101px;
}

.icon_search {
  width: 21px;
  height: 21px;
}

.icon_shop {
  width: 20px;
  height: 20px;
}

.icon_size-chart {
  width: 19px;
  height: 21px;
}

.icon_thumb {
  width: 30px;
  height: 6px;
}

.icon_twitter {
  width: 24px;
  height: 25px;
}

.icon_zoom-less {
  width: 42px;
  height: 42px;
}

.icon_zoom-more {
  width: 42px;
  height: 42px;
}

