<section class="plp">
    <div class="container container--s">
        <div class="plp__banner">
            <img src="img/plp/plp-banner-1.png"  class="plp__banner-img--left">
            <img src="img/plp/plp-banner-2.png" class="plp__banner-img--center">
            <img src="img/plp/plp-banner-3.png" class="plp__banner-img--right">
        </div>
    </div>
</section>
