{% set anchors = [
    {
        href: 'organic-cotton',
        name: 'Organic Cotton'
    },
    {
        href: 'recycled-cotton',
        name: 'Recycled Cotton'
    },
    {
        href: 'friendly-dyes',
        name: 'Environmentally Friendly Dyes'
    },
    {
        href: 'reusable-packaging',
        name: 'Reusable Packaging'
    }
] %}

{% set sections = [
    {
        id: 'organic-cotton',
        blocks: [
            {
                mode: 'left',
                bg: '',
                bgMedia: '#F9F8F6',
                icon: 'organic-cotton',
                title: 'ORGANIC<br/> COTTON',
                content: '
                <p>
                Organic cotton is the most skin-friendly textile. The whole world all people and the nature itself, benefit from organic cotton as it is health-friendly and environmentally-friendly. However, what is organic cotton exactly? And what’s the difference with cotton or other textile? Organic cotton is produced and certified to organic agricultural standards. The production is made by natural processes, without any artificial inputs.
                </p>',
                mediaWidth: 'partial',
                video: '',
                frame: '',
                img: 'blocks-1.jpg',
                contentImg: ''
            },
            {
                mode: 'right',
                color: '#000000',
                bg: '',
                bgMedia: '',
                icon: '',
                title: '',
                content: '
                <p>
                This means that organic cotton is not made with the use of toxic chemicals or genetically modified organisms. Instead, organic cotton is grown on land that has been treated and given sufficient time for at least three years for the removal of all the toxic residues of chemical fertilizers and pesticides used earlier on it. The textile is actually made from original plants that are not genetically modified and that have not been treated with any chemicals like washes, bleaches, colors or scents.
                </p>
',
                mediaWidth: 'full',
                video: '',
                frame: '',
                img: 'blocks-2.jpg',
                contentImg: ''
            },
            {
                mode: 'left',
                color: '#ffffff',
                bg: '#86BE98',
                bgMedia: '',
                icon: '',
                title: '',
                content: '
                <h4>
                To sum up, these are<br/>
the 5 most important benefits of organic cotton:
                </h4>
                <ol>
                <li>It cares for the environment</li>
                <li>It protects the health of others</li>
                <li>It looks after workers</li>
                <li>It supports wildlife</li>
                <li>It loves your skin</li>
                </ol>
',
                mediaWidth: 'full',
                video: '',
                frame: '',
                img: 'blocks-3.jpg',
                contentImg: ''
            },
            {
                mode: 'right',
                color: '#000000',
                bg: '',
                bgMedia: '#F9F8F6',
                icon: '',
                title: '',
                content: '
                <h4>Organic Content Standard (OCS) certified</h4>
                <p>Our organic cotton is Organic Content Standard (OCS) certified, meaning our suppliers uphold a strict set of production standards that keep the whole ecosystem in mind.  </p>
                <h4>Organic Cotton growing has Low Impact on the Environment</h4>
                <p>Conventionally grown cotton uses more insecticides than any other crop in the world. These toxins can be deadly for the farmers, the factory workers, us as consumers and the wildlife ecosystems. For example, these pesticides have been known to affect important bee colonies in the farm fields. In addition to chemicals, conventionally grown cotton uses intensive irrigation which means it´s one of the largest water users among agricultural crops.</p>
                <p>Organic cotton is grown using methods and materials that have a low impact on the environment. It doesn´t use GM seeds, pesticides, or chemical fertilizers. Organic production systems replenish and maintain soil fertility, use 71% less water and build biologically diverse agriculture. An organic farm produces 94% fewer carbon emissions than conventional.</p>
',
                mediaWidth: 'partial',
                video: '',
                frame: '',
                img: 'blocks-4.jpg',
                contentImg: 'content-img.png'
            }
        ]
    },
    {
        id: 'recycled-cotton',
        blocks: [
            {
                mode: 'left',
                color: '#000000',
                bg: '',
                bgMedia: '#FFF47B',
                icon: 'recycled-cotton',
                title: 'RECYCLED COTTON',
                content: '
                <p>Recycled cotton comes from pre-consumption scraps (remains from production) and post-consumption (finished fabrics and pieces at their end stages). Once they are collected and divided by color, scraps are then cut into small pieces, unraveled and reused for new productions of already colored yarn.</p>
                <p>Throughout the process of regeneration, the cotton fibers shorten under duress. In order to guarantee a finished product of the utmost quality, strength and durability, it is necessary to add virgin cotton fiber (or other types of fiber). All our recycled cotton pieces contain at least 20% of recycled cotton coming from certified supply chain components.</p>
',
                mediaWidth: 'partial',
                video: '',
                frame: '',
                img: 'blocks-5.jpg',
                contentImg: ''
            },
            {
                mode: 'right',
                color: '#000000',
                bg: '',
                bgMedia: '',
                icon: '',
                title: '',
                content: '
                <h4>
                Producing a single cotton
t-shirt requires thousands of liters of water. Using recycled cotton means freeing up land that will be used to grow crops and safeguarding resources like water and soil, thanks to a reduced use of chemical products.
                </h4>
',
                mediaWidth: 'full',
                video: '',
                frame: '',
                img: 'blocks-6.jpg',
                contentImg: ''
            }
        ]
    },
    {
        id: 'friendly-dyes',
            blocks: [
            {
                mode: 'left',
                color: '#000000',
                bg: '',
                bgMedia: '#4FC684',
                icon: 'organic-cotton',
                title: 'Environmentally FRIENDLY DYES',
                content: '
                <h4>What is OEKO-TEX®?</h4>
                <p>
                OEKO-TEX® is an organization that verifies the human-ecological safety of textile and leather products in all stages of production. Textile products along with intermediate materials at all levels of production can be subject to this independent certification system. The more fabric comes to human contact, the stricter the human-ecological requirements.
                </p>
',
                mediaWidth: 'partial',
                video: '',
                frame: '',
                img: 'blocks-7.jpg',
                contentImg: ''
            },
            {
                mode: 'right',
                color: '#000000',
                bg: '',
                bgMedia: '',
                icon: 'oeko',
                title: '',
                content: '
                <h4>What does the label mean?</h4>
                <p>
                If a textile article carries the STANDARD 100 label, you can be certain that every component of this article, i.e. every thread, button and other accessories, has been tested for harmful substances and that the article therefore is harmless for human health. The test is conducted by our independent OEKO-TEX® partner institutes on the basis of our extensive OEKO-TEX® criteria catalog. In the test they take into account numerous regulated and non-regulated substances, which may be harmful to human health. In many cases the limit values for the STANDARD 100 go beyond national and international requirements. The criteria catalog is updated at least once a year and expanded with new scientific knowledge or statutory requirements. It is not easy for manufacturers and customers to keep an overview of the legal situation concerning harmful substances every day. Our experts from the OEKO-TEX® institutes do this for you.
                </p>
',
                mediaWidth: 'full',
                video: '',
                frame: '',
                img: 'blocks-8.jpg',
                contentImg: ''
            }
        ]
    },
    {
        id: 'reusable-packaging',
            blocks: [
            {
                mode: 'left',
                color: '#000000',
                bg: '',
                bgMedia: '#DEB8DC',
                icon: 'reusable-packaging',
                title: 'REUSABLE PACKAGING',
                content: '
                <h4>
                What is Sustainable Packaging?
                </h4>
                <p>
                Simply put, it is packaging that reduces the environmental impact of retail and wholesale operations over time.
                </p>
                <h5>
                Ingredients:
                </h5>
                <p>
                Using 100% recycled or raw materials.
                </p>
                <h5>
                Production process:
                </h5>
                <p>
                Reducing the industry\'s carbon footprint by miniminizing the process of production and supply chain.
                </p>
                <h5>
                Reusability:
                </h5>
                <p>
                Creating a circular economy around the packaging. extending its lifecycle and usability.
                </p>
',
                mediaWidth: 'partial',
                video: '',
                frame: '',
                img: 'blocks-9.jpg',
                contentImg: ''
            },
            {
                mode: 'right',
                color: '#000000',
                bg: '',
                bgMedia: '#F9F8F6',
                icon: '',
                title: '',
                content: '
                <h5>
                Reduced Environmental Impact with Reusable Packaging
                </h5>
                <p>
                Reusable packaging reduces the environmental impact of retail and wholesale operations in a variety of ways:
                </p>
                <h5>
                Less Solid Waste
                </h5>
                <p>
                The extended life of a reusable packaging eliminates hundreds of single use packages entering landfills, reducing solid waste by up to 86%.
                </p>
                <h5>
                Lower CO2 Emissions:
                </h5>
                <p>
                Reusable packaging eliminates the need to recycle or remanufacture single use packaging reducing greenhouse gas emissions by up to 60%.
                </p>
                <h5>
                Lower Energy Consumption:
                </h5>
                <p>
                The energy used to manufacture reusable packaging items is up to 64% lower than that used to manufacture and recycle single use packaging.
                </p>
                <h5>
                Lower Water Consumption
                </h5>
                <p>
                Single-use packaging uses up to 80% more water for production. Recycling and disposal than reusable packaging.
                </p>
',
                mediaWidth: 'partial',
                video: 'video/homepage/hero',
                frame: '',
                img: '',
                contentImg: ''
            },
            {
                mode: 'left',
                color: '#000000',
                bg: '#86BE98',
                bgMedia: '',
                icon: 'eco',
                title: '',
                content: '
                <h4>
                Is our packaging eco-friendly?
                </h4>
                <p>
                Yes, our reusable packaging is designed from 100% recyclable plastic. Let\'s make our planet better.
    </p>
',
                mediaWidth: 'full',
                video: '',
                frame: 'https://vimeo.com/578454732',
                img: '',
                contentImg: ''
            }
        ]
    }
] %}
