{% set sections = [
    {
        mode: 'left',
        img: 'about-1.jpg',
        title: 'OUR BRAND',
        content: '
        <p>Hue Division is a New York City brand, creating sustainable loungewear imbued with the vivid colors and spirit of the city. The focus is on loungewear that is high quality and eco-friendly so everyone has the chance to enjoy street style without worrying about the environmental impact of what they wear.</p>
',
        list: {
            title: 'The main pillars of Hue Division are: ',
            items: [
                {
                    icon: 'pillar-1.svg',
                    name: 'Color'
                },
                {
                    icon: 'pillar-2.svg',
                    name: 'New York style '
                },
                {
                    icon: 'pillar-3.svg',
                    name: 'Sustainability'
                }
            ]
        }
    },
    {
        color: '#F9F8F6',
        mode: 'right',
        img: 'about-2.jpg',
        title: 'sustainable street style to everyone',
        content: '
        <p>Another core belief that we are driven by is that style doesn’t have to cost the Earth. Every piece is 100% organic cotton, with eco-friendly dyes and even recycled labels. We don’t do plastic either. All our packaging is completely reusable.</p>
        <p>It’s about bringing affordable, sustainable street style to everyone. Because we should all.scss be able represent ourselves, with whatever color we’re feeling right now. Clothes made with care bring us together and make our planet better. They are the ultimate style statement.</p>
'
    },
    {
        mode: 'left',
        img: 'about-3.jpg',
        title: 'Hue Division is color.',
        content: '
        <p>Our love letter inspired by the tints and tones of New York. Loungewear that reflects our metropolis, for street style that is bright and beautiful, as vivid as the city itself.</p>
        <p>What\'s your hue? Take your pick. A rainbow  of vibrancy that reflects the diversity of our city. Every piece is stamped with its own unique color code, a seal of individuality to wear with pride.</p>
        <p>Together, we bring the shades of New York to life, a unique hue for every story, loungewear a whole city can enjoy.</p>
'
    },
    {
        color: '#F9F8F6',
        mode: 'right',
        img: 'about-4.png',
        subtitle: 'Brand Story',
        title: 'WHAT’S YOUR HUE?',
        content: '
        <p>This story finds its inspiration in the many colors that make up New York City. We use color as a metaphor to capture the dynamics and diversity of the city. We invite anyone and everyone to discover your color. We want to focus on the idea of self-expression and telling your story through what you wear, making sustainability and color a core part of the message.</p>
',
        list: {
            title: 'Just a few of our inspirations so far:',
            items: [
                {
                    name: 'Yellow taxis '
                },
                {
                    name: 'Emerald Central Park'
                },
                {
                    name: 'Brownstone walkups'
                },
                {
                    name: 'Tomato-red on late-night pizza'
                },
                {
                    name: 'The sage green hue of the Hudson River'
                }
            ]
        }
    }
] %}
