<section class="bottom-cta">
    <div class="container">
        <div class="bottom-cta__content">
            {{ titles.title("So take another look at the city.<br/> What’s your story?<br/>
What’s your Hue?", "bottom-cta", "xs", "light", "h3") }}
            <div class="bottom-cta__img">
                <img src="img/aboutpage/cta.jpg" alt="So take another look at the city">
            </div>
            <h4 class="bottom-cta__subtitle">Then say it with Hue Division.</h4>
        </div>
    </div>
</section>
