<section class="search-res search-res--empty">
    <div class="container container--s">
        <p class="res-for">Results for</p>
        <div class="search-res__title">
            {{ titles.title("Bag", "hero", "m", "", "h3") }}
            <span>0</span>
        </div>
        <div class="search-res__inner-empty">
            <p>Sorry, we couldn’t find any products matching "bag"</p>
            <p>Maybe try our shop?</p>
            <button class="button--black">
                <span data-splitting>shop now</span>
                <span data-splitting>shop now</span>
            </button>
        </div>
    </div>
</section>