.articles {
  .container {
    @include tablet {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  &__navigation {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 30px;

    @include tablet {
      margin-bottom: 17px;
    }

    @include mobile {
      margin-bottom: 40px;
      grid-template-columns: 100%;
    }
  }

  .navigation {
    &__sort {
      align-self: flex-start;
      padding-top: 1px;
      padding-bottom: 20px;

      @include mobile {
        margin-top: 40px;
        padding-bottom: 0;
      }

      .sort-by {
        padding: 10px 0;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-transform: capitalize;
      }
    }
  }

  &__pagination {
    margin-bottom: 100px;
  }
}
