<section class="login">
    <div class="login__wrapper forgot">
        <div class="login__form">
            <div class="login__title">
                {{ titles.title("Recover Password", "login", "xxs", "dark", "h4") }}
            </div>
            <form class="form-theme form-theme--contacts form-valid">
                <div class="form-theme__item form-theme__field form-theme__item-forgot">
                    <div class="field-wrap">
                        <label for="email">Your Email</label>
                        <input id="email" type="email" data-input="email" class="input-required">
                    </div>
                </div>
                <button type="submit" class="button button--black">
                    <span data-splitting>Sumbit</span>
                    <span data-splitting>Sumbit</span>
                </button>
            </form>
            <a href="login.html" class="forgot-pass">Cancel</a>
        </div>
    </div>
    <div class="login__img">
        <img src="./img/loginpage/login.jpg">
    </div>
</section>